.nav{
    display: flex;
    align-items: center;
}
.nav ul{
    display: flex;
    justify-content: space-between;
}
.nav ul li{
    display: flex;
    align-items: center;
    font-size: 1.2em;
    list-style-type: none;
    margin: 10px 30px;
    font-family: 'Signika Negative', sans-serif;
    text-decoration: underline;
}
.img-cart{
    width: 80px;
    height: auto;
    margin-left: 60vw;
}
.navbar{
    padding: 0px;
    margin: 0px;
}
.navbar .navbar-nav{
    display: flex;
    align-items: end;
}