.contenedor-productos{
    display: flex;
    margin: 25px;
    justify-content: space-between;
    .container-producto{
        img{
            width: 150px;
            height: auto;
        }
    }

}
