
.bg{
    .header-container{
        .header-title{
            font-size: 2rem;
        }
        .navbar-collapse{
            .navs-links{
                .nav-link{
                    font-size: 1.2rem;
                    &:hover{
                        font-size: 1.25rem; 
                        font-weight: bold;  
                    }
                }
            }
        }
    }
}
nav{
    background-color: #FF5722;
    box-shadow:  1px 2px 12px black;
    a{  
    font-weight: bold;
        
    }
}