.carrito-container{
    display: flex;
    align-items: center
}
.cantidad{
    display: flex;
    justify-content: center;
    padding: 5px;
    height: 15px;
    width: 15px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    margin-top: 25px;
    margin-left: 5px;
}
.img-carrito{
    width: 50px;
    height: 50px;   
    margin-right: 10px;
}
span{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contad{
    border: 1px solid black;
    border-radius: 44px;
    width: 20px;
    height: 20px;

}